::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #009578;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #009578;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #009578, #E4E5E6);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 250px;
    height: auto;
}

.login-container {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;

}

.login-container img {
    height: 120px;
    margin-bottom: 15px;
}

.login-container h1 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #333;
}

.login-container spam {
    color: #009578;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
}

.login-container input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border 0.3s;
}

.login-container input:focus {
    border-color: #009578;
    outline: none;
}

.login-container button {
    background-color: #009578;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.login-container button:hover {
    background-color: #00866C;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.footer a {
    color: #00416A;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}
